.nav-bar {
  height: 65px;
  box-shadow: inset 0 -1px 0 0 #dadce0;
  z-index: 986;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  max-width: 250vh;
}
.keep-icon {
  padding: 10px 1px 5px 10px;
  width: 232px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list-3 {
  margin: 0px 5px 4px 0px;
  margin: 0 8px;
  cursor: pointer;
}
.mg-t {
  margin-bottom: 5px;
}
.icon {
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: none;

  :hover {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(95, 99, 104, 0.2);
  }
}

.name-page {
  margin-bottom: 20px !important;
  a {
    outline: none;
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    vertical-align: middle;
    .img {
      width: 55px;
      height: 55px;
      margin-bottom: 4px;
      margin-left: 10px;
      padding-right: 4px;
    }
    .span {
      outline: none;
      line-height: normal;
      text-align: center;
      padding-left: 4px;
      opacity: 1;
      display: inline-block;
      font-family: "Product Sans", Arial, sans-serif;
      font-size: 22px;

      position: relative;
      top: 1.5px;
      vertical-align: middle;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      h6 {
        margin-top: 5px;
        font-weight: 400;
      }
    }
  }
}
//  Search Form

.search-div {
  height: 48px;
  width: 720px;
  //   margin: 7px 50px 2px 0px;
  // background: #f1f3f4;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  form {
    display: flex;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 720px;
    position: relative;

    input {
      height: 100%;
      width: 590px;
      max-width: 700px;
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
}
.active {
  background-color: white !important;
  -webkit-box-shadow: 0px 0px 10px -4px #000000;
  box-shadow: 0px 0px 10px -4px #000000;
}
.search-icon,
.cancel-icon {
  width: 46px;
  height: 40px;
  margin: 3px 10px;
}
.icons-end {
  //   margin: 2px 5px 2px 50px;
  justify-self: end;
  width: 25%;
  //   max-width: 300px;
  justify-content: space-around;

  .refresh-mode {
    width: 150px;
    padding: 10px 1px 5px 10px;
    justify-content: space-between;
  }

  .user-show {
    padding: 10px 1px 5px 0px;
    width: 100px;
    justify-content: space-between;
  }
}
.icons-n {
  height: 40px !important;
  width: 40px !important;
  color: #4f4f4fd2 !important;
  text-align: center;
  width: fit-content;
}
// .side-icons {
//   border: transparent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: transparent;
//   outline: none;

//   :hover {
//     -webkit-border-radius: 50%;
//     border-radius: 50%;
//     background-color: rgba(95, 99, 104, 0.2);
//   }
// }
