$primary-color :#DE972C;

$primaryColor :#f30c0c;
$secondary-color:#F5CF89;
$active-item:#feefc3;
$on-hover-item:#f1f3f4;
$danger:#C94548;
$danger-secondary:#C36669;
$hover-link:#C9A870;
$fs-14:14px;
$svg-primary-color:#F9A52A;

