.right-bar{
    // display: grid;
    // display: flex;
    // justify-content: center ;
    // align-content: center;
  
    padding-top: 64px;
    max-height: 100vh;
    height: 100vh !important;
    position: absolute;
    width:100%;
}