@import "./colors.scss";
@import "./rightBar.scss";
@import "./common/commons.scss";

#Signup {
  border: 1px solid rgba(211, 211, 211, 0.426);
  width: 60%;
  height: 90vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.75);
}
.shadow{
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.75);
}
.side-landing-img {
  padding: 5px;
}

.side-landing-img img {
  width: 100%;
  padding-top: 20%;
}
.side-landing-img h2 {
  font-weight: lighter;
  line-height: 2rem;
  text-align: center;
  padding-top: 15%;
}

.side-landing-img span {
  color: $primary-color;
  font-weight: bold;
}
.sub-to-Signup {
  width: 150px;
}
.sub-to-Signup a:hover {
  color: $hover-link;
}

.logo-description img {
  width: 200px;
}
.logo-description h1 {
  color: $secondary-color;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 20px;
  padding-top: 10px;
}

.already-have-account {
  display: grid;
  font-size: 13px;
}
.dp-f {
  display: flex;
}
.br-5 {
  border-radius: 5px;
}

.fs-14 {
  font-size: $fs-14;
}

.b-1s {
  border: 1px solid;
}

.column {
  float: left;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.border-2px {
  border: 2px solid;
}

.signup-form {
  height: 300px !important;
  padding: 15px;
}